:root {
	--background-color: #ffffff;
	--primary-text-color: #434455;
	--secondary-text-color: #2e2f42;
	--secondary-background-color: #f4f4fd;
	--logo-hover-color: #4d5ae5;
	--button-background-color: #e7e9fc;
	--alternative-text-color: #ffffff;
	--active-hero-button: #404bbf;
}
/* main page */
body {
	background-color: var(--background-color);
	color: var(--primary-text-color);
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	letter-spacing: 0.02em;
}
/* general */
a {
	text-decoration: none;
}
p {
	margin: 0;
}
ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}
li {
	list-style: none;
}
h1,
h2,
h3,
h4 {
	margin: 0;
}
img {
	display: block;
	max-width: 100%;
}

.container {
	width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.heading {
	font-weight: 600;
}

/* header */
.page-header {
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-nav {
	display: flex;
	align-items: center;
}
/* logo */
.logo {
	margin-right: 77px;
	color: var(--secondary-text-color);
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 0.54px;
	text-transform: uppercase;
	cursor: pointer;
}
.logo-front {
	color: #4d5ae5;
}
.logo-back {
	color: var(--secondary-background-color);
}
/* navigation */

.site-nav > .list {
	display: flex;
	margin-left: auto;
}
.site-nav .item:not(:last-child),
.contacts > .item:not(:last-child) {
	margin-right: 40px;
}
.site-nav .link {
	display: block;
	padding-top: 24px;
	padding-bottom: 24px;

	color: var(--secondary-text-color);

	font-weight: 600;
	line-height: 1.5;
	cursor: pointer;
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--primary-text-color);
}
.site-nav .link:active {
	color: var(--logo-hover-color);
}
/* contacts */
.list.contacts {
	display: flex;
	margin-left: auto;
}
.contacts {
	color: var(--primary-text-color);
	line-height: 1.5;
}
.contacts:hover,
.contacts:focus {
	color: var(--logo-hover-color);
}

/* hero */
.hero {
	max-width: 1600px;
	height: 603px;
	padding-top: 192px;
	padding-bottom: 192px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--secondary-text-color);
	margin-top: 0;
	text-align: center;
	background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.hero .heading {
	margin-bottom: 48px;
	color: var(--alternative-text-color);
	font-size: 56px;
	line-height: 1.1;
	text-align: center;
}
/* button */
.hero-btn {
	padding: 16px 32px;
	border: 0;
	border-radius: 4%;
	color: var(--alternative-text-color);
	background-color: var(--logo-hover-color);
	font-family: inherit;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	cursor: pointer;
}
.hero-btn:active {
	background-color: var(--active-hero-button);
}
/* values */
.values.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.values .heading {
	margin-bottom: 8px;
	color: var(--secondary-text-color);
	font-size: 20px;
	line-height: 1.2;
}
.values .description {
	font-weight: 400;
	line-height: 1.5;
}
.values .list {
	display: flex;
	gap: 24px;
}
.values .item {
	flex-basis: calc((100% - 72px) / 4);
}
.team .item:not(:last-child),
.work .item:not(:last-child),
.filter .item:not(:last-child) {
	margin-right: 24px;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* work */
.work {
	text-align: center;
	padding-top: 0;
}
.work .heading {
	margin-bottom: 72px;
	color: var(--secondary-text-color);
	font-size: 36px;
	line-height: 1.1;
	text-transform: capitalize;
}
.work .list {
	display: flex;
	justify-content: center;
	margin-top: auto;
}

/* our team */
.team-background {
	background-color: var(--secondary-background-color);
}
.team.section {
	text-align: center;
}
.team .team-info {
	background-color: var(--background-color);
	padding-top: 32px;
	padding-bottom: 32px;
}
.team .heading {
	margin-bottom: 72px;
	color: var(--secondary-text-color);
	color: var(--secondary-text-color);
	font-size: 36px;
	line-height: 1.1;
}
.team .name,
.projects .heading {
	margin-bottom: 8px;
	color: var(--secondary-text-color);
	font-size: 20px;
	line-height: 1.2;
}
.team .list {
	display: flex;
	justify-content: center;
}

.team .position {
	line-height: 1.5;
}
/* footer */
.footer {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--secondary-text-color);
}
.container.footer {
	padding: 0;
}
.logo.bottom {
	display: block;
	margin-bottom: 16px;
}
.footer-text {
	max-width: 264px;
	color: var(--button-background-color);
	line-height: 1.5;
}
/* portfolio  */
.portfolio.section {
	padding-top: 92px;
}
.portfolio-btn {
	padding: 12px 24px;
	border: none;
	border-radius: 4%;
	background-color: var(--button-background-color);
	color: var(--logo-hover-color);
	font-family: inherit;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	background-color: #4d5ae5;
	color: var(--alternative-text-color);
}
/* projects */
.list.projects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0;
	gap: 24px;
}
.projects > .item {
	flex-basis: calc((100% - 48px) / 3);
}

.projects .project-category {
	color: var(--primary-text-color);
	line-height: 1.5;
}
.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 72px;
}
.content-information {
	padding-left: 16px;
	padding-bottom: 32px;
	padding-top: 32px;
	border: 0.5px solid #f4f4fd;
	boeder-top: none;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
